@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5vdcc4');
  src:  url('fonts/icomoon.eot?5vdcc4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5vdcc4') format('truetype'),
    url('fonts/icomoon.woff?5vdcc4') format('woff'),
    url('fonts/icomoon.svg?5vdcc4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clean:before {
  content: "\e900";
}
.icon-filter:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e902";
}
.icon-cash:before {
  content: "\e903";
}
.icon-dropdown:before {
  content: "\e904";
}
.icon-date:before {
  content: "\e905";
}
.icon-time:before {
  content: "\e906";
}
.icon-phone:before {
  content: "\e907";
}
.icon-map:before {
  content: "\e908";
}
.icon-back:before {
  content: "\e909";
}
.icon-people:before {
  content: "\e90a";
}
.icon-close:before {
  content: "\e90b";
}
.icon-menu:before {
  content: "\e90c";
}
.icon-user:before {
  content: "\e90d";
}
.icon-send:before {
  content: "\e90e";
}
.icon-mobile:before {
  content: "\e90f";
}
.icon-info:before {
  content: "\e910";
}
.icon-shop:before {
  content: "\e911";
}
.icon-course:before {
  content: "\e912";
}
.icon-inbox:before {
  content: "\f01c";
}
.icon-repeat:before {
  content: "\f01e";
}
.icon-refresh:before {
  content: "\f021";
}
.icon-lock:before {
  content: "\f023";
}
.icon-volume_off:before {
  content: "\f026";
}
.icon-volume_down:before {
  content: "\f027";
}
.icon-volume_up:before {
  content: "\f028";
}
.icon-qrcode:before {
  content: "\f029";
}
.icon-barcode:before {
  content: "\f02a";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-book:before {
  content: "\f02d";
}
.icon-bookmark:before {
  content: "\f02e";
}
.icon-plus_sign:before {
  content: "\f055";
}
.icon-minus_sign:before {
  content: "\f056";
}
.icon-remove_sign:before {
  content: "\f057";
}
.icon-ok_sign:before {
  content: "\f058";
}
.icon-question_sign:before {
  content: "\f059";
}
.icon-info_sign:before {
  content: "\f05a";
}
.icon-ban_circle:before {
  content: "\f05e";
}
.icon-share_alt:before {
  content: "\f064";
}
.icon-plus:before {
  content: "\f067";
}
.icon-minus:before {
  content: "\f068";
}
.icon-exclamation_sign:before {
  content: "\f06a";
}
.icon-gift:before {
  content: "\f06b";
}
.icon-eye_open:before {
  content: "\f06e";
}
.icon-eye_close:before {
  content: "\f070";
}
.icon-warning_sign:before {
  content: "\f071";
}
.icon-plane:before {
  content: "\f072";
}
.icon-chevron_up:before {
  content: "\f077";
}
.icon-chevron_down:before {
  content: "\f078";
}
.icon-shopping_cart:before {
  content: "\f07a";
}
.icon-heart_empty:before {
  content: "\f08a";
}
.icon-signout:before {
  content: "\f08b";
}
.icon-pushpin:before {
  content: "\f08d";
}
.icon-external_link:before {
  content: "\f08e";
}
.icon-signin:before {
  content: "\f090";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-unlock:before {
  content: "\f09c";
}
.icon-credit_card:before {
  content: "\f09d";
}
.icon-rss:before {
  content: "\f09e";
}
.icon-bell:before {
  content: "\f0a2";
}
.icon-fullscreen:before {
  content: "\f0b2";
}
.icon-link:before {
  content: "\f0c1";
}
.icon-cloud:before {
  content: "\f0c2";
}
.icon-copy:before {
  content: "\f0c5";
}
.icon-paper_clip:before {
  content: "\f0c6";
}
.icon-caret_down:before {
  content: "\f0d7";
}
.icon-caret_up:before {
  content: "\f0d8";
}
.icon-caret_left:before {
  content: "\f0d9";
}
.icon-caret_right:before {
  content: "\f0da";
}
.icon-columns:before {
  content: "\f0db";
}
.icon-sort:before {
  content: "\f0dc";
}
.icon-sort_down:before {
  content: "\f0dd";
}
.icon-sort_up:before {
  content: "\f0de";
}
.icon-envelope_alt:before {
  content: "\f0e0";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-undo:before {
  content: "\f0e2";
}
.icon-file_text_alt:before {
  content: "\f0f6";
}
.icon-double_angle_left:before {
  content: "\f100";
}
.icon-double_angle_right:before {
  content: "\f101";
}
.icon-double_angle_up:before {
  content: "\f102";
}
.icon-double_angle_down:before {
  content: "\f103";
}
.icon-angle_left:before {
  content: "\f104";
}
.icon-angle_right:before {
  content: "\f105";
}
.icon-angle_up:before {
  content: "\f106";
}
.icon-angle_down:before {
  content: "\f107";
}
.icon-desktop:before {
  content: "\f108";
}
.icon-laptop:before {
  content: "\f109";
}
.icon-spinner:before {
  content: "\f110";
}
.icon-reply:before {
  content: "\f112";
}
.icon-folder_close_alt:before {
  content: "\f114";
}
.icon-folder_open_alt:before {
  content: "\f115";
}
.icon-chevron_sign_left:before {
  content: "\f137";
}
.icon-chevron_sign_right:before {
  content: "\f138";
}
.icon-chevron_sign_up:before {
  content: "\f139";
}
.icon-chevron_sign_down:before {
  content: "\f13a";
}
.icon-unlock_alt:before {
  content: "\f13e";
}
.icon-ellipsis_horizontal:before {
  content: "\f141";
}
.icon-ellipsis_vertical:before {
  content: "\f142";
}
.icon-_303:before {
  content: "\f143";
}
.icon-sort_by_attributes:before {
  content: "\f160";
}
.icon-sort_by_attributes_alt:before {
  content: "\f161";
}
.icon-youtube_sign:before {
  content: "\f166";
}
.icon-youtube:before {
  content: "\f167";
}
.icon-youtube_play:before {
  content: "\f16a";
}
.icon-dropbox:before {
  content: "\f16b";
}
.icon-stackexchange:before {
  content: "\f16c";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-long_arrow_down:before {
  content: "\f175";
}
.icon-long_arrow_up:before {
  content: "\f176";
}
.icon-long_arrow_left:before {
  content: "\f177";
}
.icon-long_arrow_right:before {
  content: "\f178";
}
.icon-_378:before {
  content: "\f193";
}
.icon-plus_square_o:before {
  content: "\f196";
}
.icon-uniF1A0:before {
  content: "\f1a0";
}
.icon-_449:before {
  content: "\f1de";
}
.icon-uniF1E0:before {
  content: "\f1e0";
}
.icon-_461:before {
  content: "\f1eb";
}
.icon-_462:before {
  content: "\f1ec";
}
.icon-_463:before {
  content: "\f1ed";
}
.icon-uniF1F0:before {
  content: "\f1f0";
}
.icon-_466:before {
  content: "\f1f1";
}
.icon-_467:before {
  content: "\f1f2";
}
.icon-_469:before {
  content: "\f1f4";
}
.icon-_473:before {
  content: "\f1f8";
}
.icon-_474:before {
  content: "\f1f9";
}
.icon-_475:before {
  content: "\f1fa";
}
.icon-_486:before {
  content: "\f206";
}
