<!DOCTYPE html>
<html lang="">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- Top Background Image Wrapper -->
<div class="bgded" style="background-image:url('images/Rectangle.png');">

  <div class="wrapper row1">
    <header id="header" class="hoc clear">

      <div id="logo" class="fl_left">
        <a href="index.html" ><img src="BookFast_logo.png" alt="Paris"></a>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li class="active">
            <a href="index.html"><i class="icon-course"></i>找課程</a>
            <ul>
              <li><a href="#0">全部課程</a></li>
              <li><a href="#0">團體課程</a></li>
              <li><a href="#0">期班</a></li>
            </ul>
          </li>
          <li><a href="#"><i class="icon-shop"></i>找方案</a>
            <ul>
              <li><a href="#0">全部方案</a></li>
              <li><a href="#0">儲值票券</a></li>
              <li><a href="#0">通行卡</a></li>
            </ul>
          </li>
          <li><a href="#"><i class="icon-info"></i>場館資訊</a></li>
          <li><a href="#"><i class="icon-mobile"></i>下載 APP</a></li>
          <li class="active">
            <a href="index.html"><i class="icon-user"></i>登入/註冊</a>
            <ul>
              <li><a href="reservation.html">預約記錄</a></li>
              <li><a href="#0">我的通行卡</a></li>
              <li><a href="#0">我的票券</a></li>
              <li><hr class="btmspace-10"></li>
              <li><a href="#0">會員資料</a></li>
              <li><a href="#0">登出</a></li>
            </ul>
          </li>
          <li><img src="images/facebook.svg"></li>
          <li><img src="images/line.svg"></li>
          <li><img src="images/ig.svg"></li>
          <li><img src="images/youtube.svg"></li>
        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </header>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="flexslider basicslider">
      <ul class="slides">
        <li>
          <article>
            <p>Condimentum</p>
            <h3 class="heading">Ligula at fermentum</h3>
            <p>Sodales sapien donec porttitor dolor nec elit</p>
            <footer><a class="btn" href="#">Luctus suscipit in</a></footer>
          </article>
        </li>
        <li>
          <article>
            <p>Laoreet</p>
            <h3 class="heading">Iaculis interdum</h3>
            <p>Nulla scelerisque posuere convallis</p>
            <footer>
              <form class="group" method="post" action="#">
                <fieldset>
                  <legend>Sign-Up:</legend>
                  <input type="email" value="" placeholder="Email Here&hellip;">
                  <button class="fa fa-sign-in" type="submit" title="Submit"><em>Submit</em></button>
                </fieldset>
              </form>
            </footer>
          </article>
        </li>
        <li>
          <article>
            <p>Phasellus</p>
            <h3 class="heading">Bibendum blandit</h3>
            <p>Lacus non tincidunt class aptent taciti sociosqu</p>
            <footer><a class="btn inverse" href="#">Litora torquent</a></footer>
          </article>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper">
  <div class="hoc clear"> 
    <!-- ################################################################################################ -->
    <figure id="introblocks">
      <ul class="nospace group">
        <li class="one_third first"><a href="#"><img src="images/320x240.png" alt=""></a></li>
        <li class="one_third"><a href="#"><img src="images/320x240.png" alt=""></a></li>
        <li class="one_third"><a href="#"><img src="images/320x240.png" alt=""></a></li>
      </ul>
    </figure>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <!-- <hr class="btmspace-80"> -->
    <!-- ################################################################################################ -->
    <ul class="nospace group overview">
      <li class="one_third">
        <article><a href="#"><img src="images/image1.png" alt=""></a>
          <div style="padding: 10px;">
            <h6 class="heading">踏青瑜珈</h6>
            <span>最近課程</span>
            <div>大安館 Jane</div><div>2021/03/13(六) 09:30-12:30</div>
            <footer class="nospace">
              單堂售價<span>$650</span>
            </footer>
          </div>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><img src="images/image2.png" alt=""></a>
          <div style="padding: 10px;">
            <h6 class="heading">吃得健康講堂(含午餐)</h6>
            <span>最近課程</span>
            <div>忠孝館 王醫師團隊</div><div>2021/03/13(六) 09:30-12:30</div>
            <footer class="nospace">
              單堂售價<span>$1050</span>
            </footer>
          </div>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><img src="images/image3.png" alt=""></a>
          <div style="padding: 10px;">
            <h6 class="heading">睡得安穩講堂(含宵夜)</h6>
            <span>最近課程</span>
            <div>大安館 Jane</div><div>2021/03/13(六) 09:30-12:30</div>
            <footer class="nospace">
              單堂售價<span>$650</span>
            </footer>
          </div>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><img src="images/image4.png" alt=""></a>
          <div style="padding: 10px;">
            <h6 class="heading">延伸瑜珈</h6>
            <span>最近課程</span>
            <div>大安館 Jane</div><div>2021/03/13(六) 09:30-12:30</div>
            <footer class="nospace">
              單堂售價<span>$650</span>
            </footer>
          </div>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><img src="images/image5.png" alt=""></a>
          <div style="padding: 10px;">
            <h6 class="heading">雙人瑜珈(體驗課)</h6>
            <span>最近課程</span>
            <div>大安館 Jane</div><div>2021/03/13(六) 09:30-12:30</div>
            <footer class="nospace">
              單堂售價<span>$650</span>
            </footer>
          </div>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><img src="images/image6.png" alt=""></a>
          <div style="padding: 10px;">
            <h6 class="heading">踏青瑜珈</h6>
            <span>最近課程</span>
            <div>大安館 Jane</div><div>2021/03/13(六) 09:30-12:30</div>
            <footer class="nospace">
              單堂售價<span>$650</span>
            </footer>
          </div>
        </article>
      </li>

      <li class="one_third">
        <article><a href="#"><img src="images/image7.png" alt=""></a>
          <div style="padding: 10px;">
            <h6 class="heading">踏青瑜珈</h6>
            <span>最近課程</span>
            <div>大安館 Jane</div><div>2021/03/13(六) 09:30-12:30</div>
            <footer class="nospace">
              單堂售價<span>$650</span>
            </footer>
          </div>
        </article>
      </li>

      <li class="one_third">
        <article><a href="#"><img src="images/image8.png" alt=""></a>
          <div style="padding: 10px;">
            <h6 class="heading">踏青瑜珈</h6>
            <span>最近課程</span>
            <div>大安館 Jane</div><div>2021/03/13(六) 09:30-12:30</div>
            <footer class="nospace">
              單堂售價<span>$650</span>
            </footer>
          </div>
        </article>
      </li>

      <li class="one_third">
        <article><a href="#"><img src="images/image9.png" alt=""></a>
          <div style="padding: 10px;">
            <h6 class="heading">踏青瑜珈</h6>
            <span>最近課程</span>
            <div>大安館 Jane</div><div>2021/03/13(六) 09:30-12:30</div>
            <footer class="nospace">
              單堂售價<span>$650</span>
            </footer>
          </div>
        </article>
      </li>

      <li class="one_third">
        <article><a href="#"><img src="images/image10.png" alt=""></a>
          <div style="padding: 10px;">
            <h6 class="heading">踏青瑜珈</h6>
            <span>最近課程</span>
            <div>大安館 Jane</div><div>2021/03/13(六) 09:30-12:30</div>
            <footer class="nospace">
              單堂售價<span>$650</span>
            </footer>
          </div>
        </article>
      </li>

      <li class="one_third">
        <article><a href="#"><img src="images/image11.png" alt=""></a>
          <div style="padding: 10px;">
            <h6 class="heading">踏青瑜珈</h6>
            <span>最近課程</span>
            <div>大安館 Jane</div><div>2021/03/13(六) 09:30-12:30</div>
            <footer class="nospace">
              單堂售價<span>$650</span>
            </footer>
          </div>
        </article>
      </li>

      <li class="one_third">
        <article><a href="#"><img src="images/image12.png" alt=""></a>
          <div style="padding: 10px;">
            <h6 class="heading">踏青瑜珈</h6>
            <span>最近課程</span>
            <div>大安館 Jane</div><div>2021/03/13(六) 09:30-12:30</div>
            <footer class="nospace">
              單堂售價<span>$650</span>
            </footer>
          </div>
        </article>
      </li>
    </ul>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div></div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p>&copy; 2020 NewPOS TECH. CORP.All Rights Reserved.</p><!-- class="fl_left" -->
    <p>
      <a target="_blank" href="https://www.google.com/" title="服務條款">服務條款</a> &
      <a target="_blank" href="https://www.google.com/" title="隱私權政策">隱私權政策</a>｜
      Powered by BookFastPOS｜Version1.0
    </p><!-- class="fl_right" -->
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="icon-angle_up"></i></a>
<!-- JAVASCRIPTS -->
<script src="scripts/jquery.min.js"></script>
<script src="scripts/jquery.backtotop.js"></script>
<script src="scripts/jquery.mobilemenu.js"></script>
<script src="scripts/jquery.flexslider-min.js"></script>
</body>
</html>