<!DOCTYPE html>
<html lang="">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- Top Background Image Wrapper -->
<div class="bgded" style="background-image:url('images/Rectangle.png');">

  <div class="wrapper row1">
    <header id="header" class="hoc clear">

      <div id="logo" class="fl_left">
        <a href="index.html" ><img src="images/BookFast_logo.png" alt="Paris"></a>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li class="active">
            <a href="index.html"><i class="icon-course"></i>找課程</a>
            <ul>
              <li><a href="#0">全部課程</a></li>
              <li><a href="#0">團體課程</a></li>
              <li><a href="#0">期班</a></li>
            </ul>
          </li>
          <li><a href="#0"><i class="icon-shop"></i>找方案</a>
            <ul>
              <li><a href="#0">全部方案</a></li>
              <li><a href="#0">儲值票券</a></li>
              <li><a href="#0">通行卡</a></li>
            </ul>
          </li>
          <li><a href="#0"><i class="icon-info"></i>場館資訊</a></li>
          <li><a href="#0"><i class="icon-mobile"></i>下載 APP</a></li>
          <li class="active">
            <a href="#0"><i class="icon-user"></i>登入/註冊</a>
            <ul>
              <li><a href="reservation.html">預約記錄</a></li>
              <li><a href="#0">我的通行卡</a></li>
              <li><a href="#0">我的票券</a></li>
              <li><hr class="btmspace-10"></li>
              <li><a href="#0">會員資料</a></li>
              <li><a href="#0">登出</a></li>
            </ul>
          </li>
          <li><img src="images/facebook.svg"></li>
          <li><img src="images/line.svg"></li>
          <li><img src="images/ig.svg"></li>
          <li><img src="images/youtube.svg"></li>
        </ul>
      </nav>
    </header>
  </div>
</div>

<!-- End Top Background Image Wrapper -->
<div class="wrapper container_row">
  <div class="col_onethird">
    <div class="col_box leftBox">
      <div class="center">
        <div class="userphone"></div>
        <b class="">魏麗莎</b>
        <p class="">0922 345 678</p>
      </div>
      <hr class="btmspace-10">
      <ul class="clear">
        <li><a href="#0">預約記錄</a></li>
        <li><a href="#0">我的票券</a></li>
        <li><a href="#0">我的通行卡</a></li>
        <li><hr class="btmspace-10"></li>
        <li><a href="#0">會員資料</a></li>
      </ul>
    </div>
  </div>

  <div class="col_three_quarters col_left">
    <h6>預約記錄</h6>
  </div>
</div>

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear">
    <p>&copy; 2020 NewPOS TECH. CORP.All Rights Reserved.</p><!-- class="fl_left" -->
    <p>
      <a target="_blank" href="https://www.google.com/" title="服務條款">服務條款</a> &
      <a target="_blank" href="https://www.google.com/" title="隱私權政策">隱私權政策</a>｜
      Powered by BookFastPOS｜Version1.0
    </p><!-- class="fl_right" -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="icon-angle_up"></i></a>
<!-- JAVASCRIPTS -->
<script src="scripts/jquery.min.js"></script>
<script src="scripts/jquery.backtotop.js"></script>
<script src="scripts/jquery.mobilemenu.js"></script>
<script src="scripts/jquery.flexslider-min.js"></script>
</body>
</html>